<% layout('layout') -%>
<div class="card">
  <div class="cardContents">
    <div class="cardTitle">ACTIVE USERS</div>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Status</th>
          <th>GPA</th>
          <th>Grades</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
