<!DOCTYPE html>
<html>
	<head>
		<title><%= process.env.WEB_TITLE || '💩log' %></title>
		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
		<link href="/stylesheets/style.css" rel="stylesheet">
		<link href="/javascripts/jquery-ui-1.11.4/jquery-ui.min.css" rel="stylesheet">
	</head>
	<body>
    <div id="loginPage">
      <div id="loginPageContents">
        <span id="siteTitle"><%= process.env.WEB_TITLE || '💩log' %></span>
        <% if (!user) { %>
        <div style="text-align: center">
          <br>
          <a href="/auth/google"><img src="/images/btn_google_signin_dark_normal_web.png" alt="Login with Google"></a>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
