<% layout('layout') %>
<script>
  $(function() {
    <% include userGradesJavascript %>
  });
</script>
<div class="card">
  <div class="cardContents">
    <div class="cardTitle">SUBMIT AN ACADEMIC REPORT</div>
    <br>
    <% reportFields.forEach(function(reportField) { %>
      <%= reportField %><br>
      <textarea class="reportField"></textarea><br>
      <br>
      <br>
    <% }); %>
    <% include userGrades %>
  </div>
</div>
