<table id="semesterClasses">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<div id="userClassDialog" title="HELP">
  COMING SOON<br>
  <div id="helpClassUsers"></div>
</div>

<div id="dropClassDialog" title="DROP CLASS">
  <input type="hidden" id="dropClassID" value="">
  <input type="text" id="dropClassExcuse" placeholder="Why did you drop this class?"><br>
  <br>
  <button class="submitButton" id="dropClassSubmit">SUBMIT</button>
</div>
