html {
  font-family: 'Questrial', sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
}
table {
  width: 100%;
}
#banner {
  -webkit-box-shadow: inset 0px -135px 4px -134px rgba(0,0,0,0.46);
  -moz-box-shadow: inset 0px -135px 4px -134px rgba(0,0,0,0.46);
  box-shadow: inset 0px -135px 4px -134px rgba(0,0,0,0.46);
  height: 150px;
  color: white;
  background-color: #B71C1C;
  position: relative;
  overflow: auto;
}
#bannerContents {
  max-width: 800px;
  margin: 0 auto 0 auto;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateY(-50%);
}
#bannerNestedContents {
  position: relative;
  left: -50%;
}
#banner a:link {
  color: white;
  text-decoration: none;
}
#banner a:visited {
  color: white;
  text-decoration: none;
}
#banner a:hover {
  color: white;
  text-decoration: none;
}
#banner a:active {
  color: white;
  text-decoration: none;
}
#nav {
}
#bannerTitle {
  font-size: 3em;
}
#content {
  max-width: 800px;
  margin: 0 auto 0 auto;
  padding-top: 40px;
}
#content a:link {
  color: black;
}
#content a:visited {
  color: black;
}
#content a:hover {
  color: black;
}
#content a:active {
  color: black;
}
.dataTables_empty {
  display: none;
}
.details {
  width: 25%;
  float: left;
}
.mainContents {
  width: 75%;
  float: left;
}
.fabLeft {
  width: 75%;
}
.fabRight {
  width: 25%;
  float: right;
}
.card {
  width: 100%;
  background-color: #F5F5F5;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(125,125,125,1);
  -moz-box-shadow: 0px 2px 4px -1px rgba(125,125,125,1);
  box-shadow: 0px 2px 4px -1px rgba(125,125,125,1);
  margin-bottom: 40px;
}
.cardContents {
  padding: 40px;
  position: relative;
  color: #616161;
}
.cardTitle {
  font-size: 1.5em;
  color: #BDBDBD;
  margin-bottom: 10px;
}
.addButtonContainer {
  text-align: right;
}
.dialog-no-close .ui-dialog-titlebar-close {
  display: none;
}
.floatingActionButton {
  background-color: #F44336;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  outline: none;
  color: white;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 40px;
}
