html {
  font-family: 'Questrial', sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
table {
  width: 100%;
}
#banner {
  -webkit-box-shadow: inset 0px -135px 4px -134px rgba(0,0,0,0.46);
  -moz-box-shadow: inset 0px -135px 4px -134px rgba(0,0,0,0.46);
  box-shadow: inset 0px -135px 4px -134px rgba(0,0,0,0.46);
  height: 60px;
  color: white;
  background-color: #B71C1C;
  position: fixed;
  overflow: auto;
  width: 100%;
  z-index: 98;
}
#bannerContents {
  margin: 0 auto 0 auto;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
}
#bannerTitleContainer {
  -webkit-box-shadow: inset 0px -135px 4px -134px rgba(0,0,0,0.46);
  -moz-box-shadow: inset 0px -135px 4px -134px rgba(0,0,0,0.46);
  box-shadow: inset 0px -135px 4px -134px rgba(0,0,0,0.46);
  height: 60px;
  color: white;
  background-color: #B71C1C;
  position: relative;
  overflow: auto;
}
#bannerTitleContents {
  margin: 0 auto 0 auto;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
#bannerTitleNestedContents {

}
#banner a:link {
  color: white;
  text-decoration: none;
}
#banner a:visited {
  color: white;
  text-decoration: none;
}
#banner a:hover {
  color: white;
  text-decoration: none;
}
#banner a:active {
  color: white;
  text-decoration: none;
}
#nav {
  font-size: 0.85em;
}
#bannerTitle {
  font-size: 2em;
  font-family: 'Lobster', cursive;
}
.contentContainer {
  margin-top: 100px;
  margin-left: 0px;
}
#content {
  max-width: 800px;
}
a#content {
  color: black;
  text-decoration: none;
}
.navPanel {
  height: 60px;
  text-align: center;
}
a.navPanel {
  color: white;
  text-decoration: none;
}
.navPanelContainer {
  background-color: #455A64;
  width: 160px;
  padding: 20px;
  margin-bottom: 1px;
  text-align: left;
}
.navPanelStats {
  background-color: #263238;
  padding: 10px;
  margin: 10px;
  width: 160px;
  text-align: left;
  border-radius: 10px;
  color: white;
}
.navPanelBase {
  position: absolute;
  bottom: 0;
}
.dataTables_empty {
  display: none;
}
.details {
  width: 25%;
  float: left;
}
.reports {
  text-align: center;
  padding-bottom: 40px;
}
.submitButton {
  background-color: #F44336;
  border: none;
  outline: none;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 10px;
  font-size: 1em;
}
.submitButton:disabled {
  background-color: grey;
}
.mainnavPanels {
  width: 75%;
  float: left;
}
.fabLeft {
  width: 75%;
}
.fabRight {
  width: 25%;
  float: right;
}
.card {
  width: 100%;
  background-color: #F5F5F5;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(125,125,125,1);
  -moz-box-shadow: 0px 2px 4px -1px rgba(125,125,125,1);
  box-shadow: 0px 2px 4px -1px rgba(125,125,125,1);
  margin-bottom: 40px;
}
.cardContents {
  padding: 40px;
  position: relative;
  color: #616161;
}
.cardTitle {
  font-size: 1.5em;
  color: #BDBDBD;
  margin-bottom: 10px;
}
.addButtonContainer {
  text-align: right;
}
.dialog-no-close .ui-dialog-titlebar-close {
  display: none;
}
.floatingActionButton {
  background-color: #F44336;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  outline: none;
  color: white;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 40px;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  visibility: hidden;
  background-color: #37474F;
  height: 100%;
  margin-right: 40px;
  z-index: 99;
}

#menuButton {
  float: right;
  visibility: hidden;
  margin-right: 20px;
}

.visible {
  visibility: visible;
}

@media only screen and (min-width: 768px) {
  .navbar {
    visibility: visible;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .contentContainer {
    margin-left: 210px;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  #content {
    margin: 0 auto 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  #menuButton {
    visibility: visible;
  }
}
